/*发私信*/
.inform_cont{
	border:1px solid #ccc;
	_margin-top:-1px;
}
.pletter_cont{
	padding:40px;
	height:auto !important;
	height:350px;
	min-height:350px;
}
.pletter_list{
	margin-bottom:30px;
	color:#666;
}
.pletter_list .post{
	float:left;
	width:55px;
	height:20px;
	line-height:20px;
}
.pletter_list .pletter_content{
	float:left;
	position:relative;
}
.pletter_box1{
	width:180px;
	height:18px;
	line-height:18px;
	border:1px solid #c5c5c5;
	font-size:12px;
	background:#fff;
}
.pletter_prompt{
	position:absolute;
	text-align:right;
  right:0px;
  top:-20px;
}
.pletter_prompt span{
	font-size:16px;
	font-weight:bold;
	margin:0 5px;
}
.pletter_box2{
	width:438px;
	height:80px;
	border:1px solid #ccc;
	padding:5px;
	font-size:12px;
	color:#444;
	background:#fff;
}
.pletter_insert{
	margin:5px 0;
}
.pletter_insert a{
	display:block;
	float:left;
	color:#666;
}
.pletter_insert span{
	display:block;
	width:16px;
	height:16px;
	float:left;
	background:url("http://s1.ifiter.com/static/images/information/pletter.png");
	margin:0 5px;
}
.pletter_insert .ico1{
	background-position:-3px -2px;
}
.pletter_insert .ico2{
	background-position:-29px -3px;
}
.pletter_but{
	text-align:right;
}
.pletter_but input{
	background:url("http://s1.ifiter.com/static/images/information/pletter.png");
	border:0px;
	font-size:14px;
	font-weight:bold;
	color:#2cab00;
	width:97px;
	height:31px;
	background-position:-1px -23px;
	cursor: pointer;
}
